<!-- ======= About Us Section ======= -->
<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Development Professional</h2>
            <ol>
                <li routerLinkActive="active"><a routerLink="dashboard">Home</a></li>
                <li>Development Professional</li>
            </ol>
        </div>
    </div>
</section>
<!-- End About Us Section -->

<!-- ======= About Section ======= -->
<section class="about" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/img/about.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <h3>Desarrollo Profesional</h3>
                <p class="font-normal">
                    La constante renovación y capacitación de nuestro equipo, los motiva a ser más eficaces y eficientes, todo ello marcado por el deseo de superación, la adquisición de nuevos conocimientos, que les brindará crecimiento personal y profesional de acuerdo
                    a su nivel de compromiso personal lo que les permitirá disfrutar de libertad financiera, en el ejercicio de una labor de gran relevancia y responsabilidad social para con innumerables familias dentro y fuera del país. Nuestra agencia
                    les ofrece una vasta diversidad de formas de capacitación e incentivos, que repercutirán en su premiación dependiendo de su producción anual, desde viajes a otros países, cruceros, entre otros.
                </p>
                <ul>
                    <li>
                        <i class="icofont-check-circled"></i>Trabajamos constantemente para inspirar, capacitar, preparar y acompañar a otros en su crecimiento profesional dentro del mundo de la venta de Seguros de Vida.
                    </li>
                    <li>
                        <i class="icofont-check-circled"></i>Nos enfocamos en el reclutamiento, selección y capacitación de Directivos profesionales en el área de ventas de Seguros de Vida y Planes de Jubilación en dólares estadounidenses.
                    </li>
                    <li>
                        <i class="icofont-check-circled"></i> Creemos firmemente que los productos de Seguros de Vida que ofrecemos son una herramienta indispensable para la protección y seguridad de nuestros Clientes y sus familias.
                    </li>
                </ul>
                <p>
                    El compromiso con ustedes, nos obliga a estar en constante renovación y capacitación de nuestro equipo, motivándolos a ser más eficaces y eficientes, brindándoles la oportunidad de participar en convenciones a nivel nacional e internacional, adquiriendo
                    premios por su producción anual, desde viajes a otros países, cruceros, entre otros.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->

<!-- ======= Service Details Section ======= -->
<section class="service-details">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                <div class="card">
                    <div class="card-img">
                        <img src="assets/img/service-details-1.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Convenciones</a></h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>

                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                <div class="card">
                    <div class="card-img">
                        <img src="assets/img/service-details-2.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Cursos Online</a></h5>
                        <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
                        </p>

                    </div>
                </div>

            </div>
            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                <div class="card">
                    <div class="card-img">
                        <img src="assets/img/service-details-3.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Seminarios y Conferencias presenciales</a></h5>
                        <p class="card-text">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                <div class="card">
                    <div class="card-img">
                        <img src="assets/img/service-details-4.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">Concursos Intermedios</a></h5>
                        <p class="card-text">Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam laudantium voluptatem. In molestiae earum ab sit esse voluptatem. Eos ipsam cumque ipsum officiis qui nihil aut incidunt aut</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Service Details Section -->

<!-- ======= Contact Section ======= -->
<section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="info-box">
                            <i class="bx bx-happy-beaming"></i>
                            <h3>Quieres ser parte de nuestro equipo, te esperamos!!!</h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="info-box">
                            <i class="bx bx-envelope"></i>
                            <h3>Escribe a nuestro correo y pronto te contactaremos!!!</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <form autocomplete="off" role="form" class="php-email-form" [formGroup]="formaSol" (ngSubmit)="guardarSolRecruitmentUs()">
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" placeholder="Ingrese su nombre y apellido" formControlName="name" [class.is-invalid]="nameNoValido" />
                            <small *ngIf="nameNoValido" class="text-danger">
                Ingrese al menos 5 caracteres para el nombre
              </small>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control" formControlName="email" placeholder="Ingrese su correo electronico..." [class.is-invalid]="emailNoValido" />
                            <small *ngIf="emailNoValido" class="text-danger">
                Formato de correo incorrecto, Verifique!!!
              </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="subject" placeholder="Ingrese o asunto o motivo..." [class.is-invalid]="subjectNoValido" />
                        <small *ngIf="subjectNoValido" class="text-danger">
              Ingrese el motivo o asunto...
            </small>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" formControlName="message" placeholder="Ingrese su mensaje..." [class.is-invalid]="messageNoValido"></textarea>
                        <small *ngIf="messageNoValido" class="text-danger">
              Ingrese su mensaje para su solicitud...
            </small>
                    </div>
                    <!-- <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your message has been sent. Thank you!
            </div>
          </div> -->
                    <div class="text-center">
                        <button type="submit">Enviar Solicitud</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->
