<!-- ======= About Us Section ======= -->
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Development Professional</h2>
      <ol>
        <li routerLinkActive="active"><a routerLink="dashboard">Home</a></li>
        <li>Development Professional</li>
      </ol>
    </div>
  </div>
</section>
<!-- End About Us Section -->

<!-- ======= Services Section ======= -->
<section class="services">
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 col-lg-3 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="icon-box icon-box-blue">
          <div class="icon"><i class="bx bx-world"></i></div>
          <h4 class="title"><a href="">Capacitacion y Aprendizaje</a></h4>
          <p class="description">
            Ofrecemos seminarios mensuales y programas de capacitación únicos en
            la industria de los seguros de vida. Están diseñados con el
            propósito de que nuestros Ejecutivos puedan desarrollar una carrera
            exitosa.
          </p>
        </div>
      </div>

      <div
        class="col-md-6 col-lg-3 d-flex align-items-stretch"
        data-aos="fade-up"
      >
        <div class="icon-box icon-box-pink">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4 class="title"><a href="">Capacitacion en linea</a></h4>
          <p class="description">
            Semanalmente realizamos sesiones de trabajos con nuestros talentos
            con la finalidad de ir conociendo sus inquietudes, dudas y
            reforzando su capacitacion.
          </p>
        </div>
      </div>

      <div
        class="col-md-6 col-lg-3 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="icon-box icon-box-cyan">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4 class="title"><a href="">Oportunidades de Carrera</a></h4>
          <p class="description">
            Adicionalmente podemos brindar desarrollarte en una carrera
            profesional con nosotros, con un potencial de ingresos ilimitado.
            Gracias a nuestro sistema de autopromoción podrás definir tu plan de
            carrera y ascender a niveles importantes en base a tu esfuerzo y
            resultados, desarrollando una estructura de ventas, tu propio
            negocio.
          </p>
        </div>
      </div>

      <div
        class="col-md-6 col-lg-3 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="icon-box icon-box-green">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4 class="title"><a href="">Convenciones e Incentivos</a></h4>
          <p class="description">
            Premios, convenciones anuales en destinos exóticos, viajes a nuestra
            sede en los Estados Unidos, premios, concursos especiales de metas
            de ventas, son grandes incentivos que te brindamos.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->

<!-- ======= About Section ======= -->
<section class="about" data-aos="fade-up">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="assets/img/about.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <h3>Our Values</h3>
        <p class="font-italic">
          Nuestros esfuerzos están orientados a capacitar líderes y, para
          cumplir con nuestro objetivo, nos enfocamos en el reclutamiento,
          selección y capacitación de Directivos profesionales en el área de
          ventas de Seguros de Vida y Planes de Jubilación en dólares
          estadounidenses.
        </p>
        <ul>
          <li>
            <i class="icofont-check-circled"></i>Trabajamos constantemente para
            inspirar, capacitar, preparar y acompañar a otros en su crecimiento
            profesional dentro del mundo de la venta de Seguros de Vida.
          </li>
          <li>
            <i class="icofont-check-circled"></i>Nos enfocamos en el
            reclutamiento, selección y capacitación de Directivos profesionales
            en el área de ventas de Seguros de Vida y Planes de Jubilación en
            dólares estadounidenses.
          </li>
          <li>
            <i class="icofont-check-circled"></i> Creemos firmemente que los
            productos de Seguros de Vida que ofrecemos son una herramienta
            indispensable para la protección y seguridad de nuestros Clientes y
            sus familias.
          </li>
        </ul>
        <p>
          El compromiso con ustedes, nos obliga a estar en constante renovación
          y capacitación de nuestro equipo, motivándolos a ser más eficaces y
          eficientes, brindándoles la oportunidad de participar en convenciones
          a nivel nacional e internacional, adquiriendo premios por su
          producción anual, desde viajes a otros países, cruceros, entre otros.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

<!-- ======= Why Us Section ======= -->
<section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 video-box">
        <img src="assets/img/why-us.jpg" class="img-fluid" alt="" />
        <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
          data-autoplay="true"></a> -->
      </div>

      <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-fingerprint"></i></div>
          <h4 class="title"><a href="">Adiestramiento</a></h4>
          <p class="description">
            Estamos comprometidos con tu crecimiento. Nuestros esfuerzos están
            enfocados en brindarle todo el apoyo que necesita para desarrollar
            con éxito su carrera.
          </p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-book-reader"></i></div>
          <h4 class="title"><a href="">Capacitación</a></h4>
          <p class="description">
            Ofrecemos seminarios mensuales y programas de capacitación semanales
            únicos en la industria de los seguros de vida.
          </p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-money"></i></div>
          <h4 class="title"><a href="">Ingresos y Comisiones</a></h4>
          <p class="description">
            Puede desarrollar una carrera profesional con nosotros, con un
            potencial de ingresos ilimitado.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Why Us Section -->

<!-- ======= Contact Section ======= -->
<section
  class="contact"
  data-aos="fade-up"
  data-aos-easing="ease-in-out"
  data-aos-duration="500"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-12">
            <div class="info-box">
              <i class="bx bx-happy-beaming"></i>
              <h3>Quieres ser parte de nuestro equipo, te esperamos!!!</h3>
            </div>
          </div>
          <div class="col-md-12">
            <div class="info-box">
              <i class="bx bx-envelope"></i>
              <h3>Escribenos a nuestro correo y te contactaremos!!!</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <form
          action="forms/contact.php"
          method="post"
          role="form"
          class="php-email-form"
        >
          <div class="form-row">
            <div class="col-md-6 form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Ingrese su nombre"
                data-rule="minlen:4"
                data-msg="Please enter at least 4 chars"
              />
              <div class="validate"></div>
            </div>
            <div class="col-md-6 form-group">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Correo electronico"
                data-rule="email"
                data-msg="Please enter a valid email"
              />
              <div class="validate"></div>
            </div>
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="subject"
              id="subject"
              placeholder="Asunto o Motivo"
              data-rule="minlen:4"
              data-msg="Please enter at least 8 chars of subject"
            />
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <textarea
              class="form-control"
              name="message"
              rows="5"
              data-rule="required"
              data-msg="Please write something for us"
              placeholder="Ingrese un mensaje"
            ></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your message has been sent. Thank you!
            </div>
          </div>
          <div class="text-center">
            <button type="submit">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
