 <!-- ======= Header ======= -->
<header id="header" class="fixed-top header-transparent">
    <div class="container">

        <div class="logo float-left">
            <!-- <h1 class="text-light"><a href=""><span>PDGroup</span></a></h1> -->
            <!-- Uncomment below if you prefer to use an image logo -->
            <a routerLink="home">
                <img src="assets/img/Logo.png" alt="" class="img-fluid"></a>
        </div>

        <nav class="nav-menu float-right d-none d-lg-block">
            <ul>
                <li routerLinkActive="active"><a routerLink="dashboard">Home</a></li>
                <li routerLinkActive="active"><a routerLink="about-us">About Us</a></li>
                <li routerLinkActive="active"><a routerLink="services">Services</a></li>
                <li routerLinkActive="active"><a routerLink="portafolio">Portfolio</a></li>
                <li routerLinkActive="active"><a routerLink="teams">Teams</a></li>
                <li routerLinkActive="active"><a routerLink="contact-us">ContactUs</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->
