<!-- ======= Our Portfolio Section ======= -->
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Anualidades</h2>
      <ol>
        <li><a routerLink="dashboard">Home</a></li>
        <li>Anualidades</li>
      </ol>
    </div>

  </div>
</section><!-- End Our Portfolio Section -->

<!-- ======= Service Details Section ======= -->
<section class="service-details">
  <div class="container">

    <div class="row">
      <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/service-details-1.jpg" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="#">Anualidades 1</a></h5>
            <p class="card-text">
              Brindar a nuestros miembros del equipo la mejor capacitación para que puedan servir
              desinteresadamente a los demás, ofreciendo seguridad financiera, tecnica y protección a nuestros Clientes
              en todo el mundo.</p>
           <div class="read-more"><a (click)="abrirModal()"><i class="icofont-arrow-right"></i>Mas informacion</a></div>
           
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/service-details-2.jpg" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="#">Anualidades 2</a></h5>
            <p class="card-text">Nuestros esfuerzos están orientados a capacitar líderes y, para cumplir con nuestro
              objetivo, nos enfocamos en el reclutamiento, selección y capacitación de Directivos profesionales en el
              área de ventas de Seguros de Vida y Planes de Jubilación en dólares estadounidenses.</p>
             <div class="read-more"><a (click)="abrirModal()"><i class="icofont-arrow-right"></i>Mas informacion</a>
             </div>
          </div>
        </div>

      </div>
      
      
    </div>

  </div>
</section><!-- End Service Details Section -->
