<app-header></app-header>

<section id="hero" class="d-flex justify-cntent-center align-items-center">
  <div id="heroCarousel" class="container carousel carousel-fade"
    data-ride="carousel">

    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Bienvenido a <span>PDGroup</span></h2>
        <p class="animate__animated animate__fadeInUp">PDGroup, es una agencia perteneciente a International Marketing
          Group (www.img-sa.com), representante exclusivo de Trinity American Inc. (www. firsttrinityfinancial.com), con
          una amplia experiencia en el mercado de seguros, dedicada desde su fundación hace cinco años, a brindar
          tranquilidad y seguridad a las familias en todo el territorio nacional, así como también en
          cualquier país en el mundo, ofreciendo una vasta gama de productos en seguros de vida con Valores
          Garantizados, rentas mensuales vitalicias y anualidades fijas o programadas, productos que suministren a usted
          y a su grupo familiar bienestar y equilibrio financiero, una vez culminado el período de aporte.</p>
        <a href="" class="btn-get-started animate__animated animate__fadeInUp">Leer mas...</a>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Pensiones y Jubilaciones</h2>
        <p class="animate__animated animate__fadeInUp">Llegado el momento de cobrar tu pensión, con las soluciones de
          PDGroup y Trinity American Inc. te permitimos una libre inversión de qué deseas hacer con el dinero. Si tienes niños
          pequeños, piensa que cuando tengan la mayoría de edad podrás cubrirles los estudios con nuestros planes. ¡Para
          mayor información, contáctanos!.</p>
        <a href="" class="btn-get-started animate__animated animate__fadeInUp">Leer mas...</a>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Inversiones y Gestión de Tendencias de Riesgo</h2>
        <p class="animate__animated animate__fadeInUp">Una persona con conocimientos en economía y finanzas reconoce que
          se debe ahorrar dinero durante los tiempos de oro; de esta forma, los imprevistos, debido a los períodos de
          escasez que puedan venir a largo plazo, no tengan ningún efecto en su bolsillo. Nosotros podemos indicarte
          cómo ahorrar a largo plazo y protegerte de los imprevistos..</p>
        <a href="" class="btn-get-started animate__animated animate__fadeInUp">Leer mas...</a>
      </div>
    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button"
      data-slide="prev">
      <span class="carousel-control-prev-icon bx bx-chevron-left"
        aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button"
      data-slide="next">
      <span class="carousel-control-next-icon bx bx-chevron-right"
        aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</section><!-- End Hero -->


<main id="main">


  <!-- <app-dashboard></app-dashboard> -->

  <router-outlet></router-outlet>  

  <!-- <app-about-us></app-about-us> -->


</main>

<app-footer></app-footer>