<app-header></app-header>

<section id="hero" class="d-flex justify-cntent-center align-items-center">
  <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">
    <!-- Slide 1-->
    <div class="carousel-item active" *ngFor="let items of _infoPageAppComponent.infoPageSection.page_section; index as mdx"
      [ngClass]="{'active': mdx == 0}">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">{{ items.section_title_h2 }}</h2>
        <p class="animate__animated animate__fadeInUp">{{ items.section_parrafo_h2 }}</p>
        <a routerLink="{{ items.url_redirect }}" class="btn-get-started animate__animated animate__fadeInUp">Mas información...</a>
      </div>
    </div>   

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>

<app-modal-form></app-modal-form>

<!-- <script defer data-key="6fd735c9-1763-4c1b-b3c5-70771efb5e42" src="https://widget.tochat.be/bundle.js"> </script> -->