<!-- ======= Our Services Section ======= -->
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Our Products</h2>
            <ol>
                <li routerLinkActive="active"><a routerLink="dashboard">Home</a></li>
                <li>Our Products</li>
            </ol>
        </div>

    </div>
</section>
<!-- End Our Services Section -->

<!-- ======= Services Section ======= -->
<section class="services">
    <div class="container">

        <div class="row">

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-blue">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4 class="title"><a routerLink="life-insurance">{{ _infoPageService.infoPageSection4["section_title_h4"] }}</a></h4>
                    <p class="description">{{ _infoPageService.infoPageSection4["section_parrafo_h4"] }}</p>

                </div>
            </div>


            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                <div class="icon-box icon-box-pink">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4 class="title"><a href="">{{ _infoPageService.infoPageSection["section_title_h4"] }}</a></h4>
                    <p class="description">
                        {{ _infoPageService.infoPageSection["section_parrafo_h4"] }}
                    </p>
 <br>
 <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
   <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">Mas info...</font>
   </font>
 </button>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box icon-box-cyan">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4 class="title"><a href="">{{ _infoPageService.infoPageSection2["section_title_h4"] }}</a></h4>
                    <p class="description"> {{ _infoPageService.infoPageSection2["section_parrafo_h4"] }}</p>
 <br>
 <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
   <font style="vertical-align: inherit;">
     <font style="vertical-align: inherit;">Mas info...</font>
   </font>
 </button>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-green">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4 class="title"><a href="">{{ _infoPageService.infoPageSection3["section_title_h4"] }}</a></h4>
                    <p class="description">
                        {{ _infoPageService.infoPageSection3["section_parrafo_h4"] }}</p>
                    <br>
                    <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Mas info...</font>
                        </font>
                    </button>
                </div>

            </div>


        </div>

    </div>
</section>
<!-- End Services Section -->

<!-- ======= Why Us Section ======= -->
<section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">

        <div class="row">

            <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-line-chart-down"></i></div>
                    <h4 class="title"><a href="">{{ _infoPageService.pageSectionWhyus1["section_title_h4"] }}</a></h4>
                    <p class="description">{{ _infoPageService.pageSectionWhyus1["section_parrafo_h4"] }}</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bxs-card"></i></div>
                    <h4 class="title"><a href="">{{ _infoPageService.pageSectionWhyus2["section_title_h4"] }}</a></h4>
                    <p class="description">{{ _infoPageService.pageSectionWhyus2["section_parrafo_h4"] }}</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-money"></i></div>
                    <h4 class="title"><a href="">{{ _infoPageService.pageSectionWhyus3["section_title_h4"] }}</a></h4>
                    <p class="description">{{ _infoPageService.pageSectionWhyus3["section_parrafo_h4"] }}</p>
                </div>

               
            </div>

            <div class="col-lg-6 video-box">
                <img src="assets/img/why-us.jpg" class="img-fluid" alt="">
                <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
          data-autoplay="true"></a> -->
            </div>

        </div>

    </div>
</section>
<!-- End Why Us Section -->