<!-- ======= Our Services Section ======= -->
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Our Products</h2>
      <ol>
        <li routerLinkActive="active"><a routerLink="dashboard">Home</a></li>
        <li>Our Products</li>
      </ol>
    </div>

  </div>
</section><!-- End Our Services Section -->

<!-- ======= Services Section ======= -->
<section class="services">
  <div class="container">

    <div class="row">

       <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
         <div class="icon-box icon-box-blue">
           <div class="icon"><i class="bx bx-world"></i></div>
           <h4 class="title"><a href="">Seguros de Vida</a></h4>
           <p class="description">Contamos con el mejor portafolio de productos de Seguros de Vida, estas pólizas de
             vida entera
             y de dotación están enfocadas en abordar las preocupaciones financieras fundamentales de las personas,
             incluidos los ingresos por jubilación, la muerte prematura, la devaluación de la moneda y la inflación.</p>
         </div>
       </div>


      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
        <div class="icon-box icon-box-pink">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4 class="title"><a href="">Pensiones y Jubilaciones</a></h4>
          <p class="description">Los productos que ofrecemos se centran no solo en la protección del seguro de vida,
            sino también en los ingresos de jubilación, lo que brinda una protección contra la devaluación de la moneda.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="icon-box icon-box-cyan">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4 class="title"><a href="">Planes al alcance de todos</a></h4>
          <p class="description">Los productos que ofrecemos no solo nose centran en la protección del seguro de vida,
            sino también en los ingresos de jubilación y retiro, lo que brinda una protección contra la devaluación de la moneda.
            Las pólizas incluyen una característica única de inversión de dividendos y altos valores en efectivo
            garantizados, que abordan las preocupaciones que las personas pueden tener sobre sus ingresos de jubilación
            y transferencia de capital.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box icon-box-green">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4 class="title"><a href="">Inversiones</a></h4>
          <p class="description">Las pólizas incluyen una característica única de inversión de dividendos y altos
            valores en efectivo garantizados, que abordan las preocupaciones que las personas pueden tener sobre sus
            ingresos de jubilación y transferencia de capital.</p>
        </div>
      </div>

     
    </div>

  </div>
</section><!-- End Services Section -->

<!-- ======= Why Us Section ======= -->
<section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
  <div class="container">

    <div class="row">
      

      <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

        <div class="icon-box">
          <div class="icon"><i class="bx bx-line-chart-down"></i></div>
          <h4 class="title"><a href="">Inversiones</a></h4>
          <p class="description">Estamos comprometidos con tu crecimiento. Nuestros esfuerzos están enfocados en
            brindarle todo el apoyo que necesita para desarrollar con éxito su carrera.</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bx bxs-card"></i></div>
          <h4 class="title"><a href="">Pensiones</a></h4>
          <p class="description">Ofrecemos seminarios mensuales y programas de capacitación únicos en la industria de
            seguros de vida.</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-money"></i></div>
          <h4 class="title"><a href="">Seguros de Vida</a></h4>
          <p class="description">Puede desarrollar una carrera profesional con nosotros, con un potencial de ingresos
            ilimitado.</p>
        </div>

      </div>

<div class="col-lg-6 video-box">
  <img src="assets/img/why-us.jpg" class="img-fluid" alt="">
  <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
          data-autoplay="true"></a> -->
</div>

    </div>

  </div>
</section><!-- End Why Us Section -->





