<!-- ======= About Us Section ======= -->
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>About Us</h2>
      <ol>
        <li routerLinkActive="active"><a routerLink="dashboard">Home</a></li>
        <li>About Us</li>
      </ol>
    </div>
  </div>
</section>
<!-- End About Us Section -->

<!-- ======= About Section ======= -->
<section class="about" data-aos="fade-up">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="assets/img/about.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <h3>
          Our Values
        </h3>
        <p class="font-italic">
          Nuestros esfuerzos están orientados a capacitar líderes y, para cumplir con nuestro objetivo, nos enfocamos en
          el reclutamiento, selección y capacitación de Directivos profesionales en el área de ventas de Seguros de Vida
          y Planes de Jubilación en dólares estadounidenses.
        </p>
        <ul>
          <li>
            <i class="icofont-check-circled"></i>Trabajamos constantemente para inspirar, capacitar, preparar y acompañar
            a otros en su crecimiento profesional dentro del mundo de la venta de Seguros de Vida.
          </li>
          <li>
            <i class="icofont-check-circled"></i>Nos enfocamos en el reclutamiento, selección y capacitación de
            Directivos profesionales en el área de ventas de Seguros de Vida y Planes de Jubilación en dólares
            estadounidenses.
          </li>
          <li>
            <i class="icofont-check-circled"></i> Creemos firmemente que los productos de Seguros de Vida que ofrecemos
            son una herramienta indispensable para la protección y seguridad de nuestros Clientes y sus familias.
          </li>
        </ul>
        <p>
          El compromiso con ustedes, nos obliga a estar en constante renovación y capacitación de nuestro equipo,
          motivándolos a ser más eficaces y eficientes, brindándoles la oportunidad de participar en convenciones a
          nivel nacional e internacional, adquiriendo premios por su producción anual, desde viajes a otros países,
          cruceros, entre otros.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

<!-- ======= Service Details Section ======= -->
<section class="service-details">
  <div class="container">

    <div class="row">
      <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/service-details-1.jpg" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="#">Our Mission</a></h5>
            <p class="card-text">Brindar a nuestros miembros del equipo la mejor capacitación para que puedan servir
              desinteresadamente a los demás, ofreciendo seguridad financiera, tecnica y protección a nuestros Clientes
              en todo el mundo.</p>
            <!-- <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i></a></div> -->
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/service-details-2.jpg" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="#">Our Plan</a></h5>
            <p class="card-text">Nuestros esfuerzos están orientados a capacitar líderes y, para cumplir con nuestro
              objetivo, nos enfocamos en el reclutamiento, selección y capacitación de Directivos profesionales en el
              área de ventas de Seguros de Vida y Planes de Jubilación en dólares estadounidenses.</p>
            <!-- <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div> -->
          </div>
        </div>

      </div>
      <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/service-details-3.jpg" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="#">Our Vision</a></h5>
            <p class="card-text">Ser la empresa líder en la capacitación y calificación de altos ejecutivos con el
              propósito de asesorar y proteger a miles de personas, familias y corporaciones alrededor del mundo,
              ofreciendo la más alta calidad de productos, brindando excelencia en nuestros servicios y generando
              calidad de vida.
            </p>
            <!-- <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div> -->
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/service-details-4.jpg" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="#">Our values</a></h5>
            <p class="card-text">Nuestros valores vienen dados principalmente por la ética, honestidad, excelencia en la
              atención, responsabilidad, puntualidad, colaboración, trabajo en equipo, perseverancia, liderazgo,
              transparencia y sobre todo pasión en lo que hacemos y la mejor disposición a su alcance.</p>
            <!-- <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div> -->
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Service Details Section -->

<!-- ======= Tetstimonials Section ======= -->
<section class="testimonials" data-aos="fade-up">
  <div class="container">
    <div class="section-title">
      <h2>Testimonios</h2>
      <p>
        Cada mes recopilamos los testimonios de nuestros Ejecutivos de Ventas, sus vivencias, sus relatos y 
        en esta seccion damos un pequeño relato de sus experiencias.
      </p>
    </div>

    <div class="carousel testimonials-carousel">
      <div class="testimonial-item">
        <img
          src="assets/img/testimonials/testimonials-1.jpg"
          class="testimonial-img"
          alt=""
        />
        <h3>Luis Fernandez</h3>
        <h4>Ejecutivo &amp; Founder</h4>
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          Proin iaculis purus consequat sem cure digni ssim donec porttitora
          entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam
          eget nibh et. Maecen aliquam, risus at semper.
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
      </div>

      <div class="testimonial-item">
        <img
          src="assets/img/testimonials/testimonials-2.jpg"
          class="testimonial-img"
          alt=""
        />
        <h3>Guillermo Guevara</h3>
        <h4>Ejecutivo &amp; Junior</h4>
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          Export tempor illum tamen malis malis eram quae irure esse labore quem
          cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua
          noster fugiat irure amet legam anim culpa.
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
      </div>

      
    </div>
  </div>
</section>
<!-- End Ttstimonials Section -->
