<!-- ======= About Us Section ======= -->
<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>About Us</h2>
            <ol>
                <li routerLinkActive="active"><a routerLink="dashboard">Home</a></li>
                <li>About Us</li>
            </ol>
        </div>
    </div>
</section>


<!-- ======= About Section ======= -->
<section class="about" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/img/about-us/about-us-history.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <h3 align="center">
                    Historia
                </h3>
                <br>
                <p class="font-normal">
                    PDGroup, inicia sus actividades en el año 2015, como representante de International Marketing Group (www.img-sa.com), representante exclusivo de Trinity American Inc. (www. firsttrinityfinancial.com), empresas del ramo de seguros, que permitieron su empoderamiento
                    y la expansión nacional e internacional como una de las agencias más productivas y sólidas dentro de mercado nacional en el área de seguros. En sus inicios contó con la participación de un pequeño grupo de asesores (2), contando en
                    la actualidad con un equipo conformado por 12 asesores, distribuidos a nivel nacional e internacional (Venezuela, Chile, Colombia, Argentina, España.
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-0">
                <h3 align="center">
                    Misión
                </h3>
                <br>
                <p class="font-normal">
                    Brindarle a nuestros ejecutivos, una formación profesional de excelencia que les permita suministrar a la mayor cantidad posible de familias a nivel nacional e internacional una mejor calidad y seguridad de vida y salud con miras no solo a su presente,
                    sino también a su futuro.
            </div>
            <div class="col-lg-6">
                <img src="assets/img/about-us/about-us-mission.jpg" class="img-fluid" alt="" />
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/img/about-us/about-us-vission.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <h3 align="center">
                    Visión
                </h3>
                <br>
                <p class="font-normal">
                    Ser la agencia líder dentro del mercado nacional venezolano e internacional, alcanzado otros niveles de eficacia y eficiencia en pro del crecimiento de la empresa, sus profesionales y clientes.
            </div>

        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-0">
                <h3 align="center">
                    Valores Empresariales
                </h3>
                <br>
                <p class="font-normal">
                    Son las afirmaciones que consideramos la base fundamental de nuestra filosofía y razón de ser, representadas en la solidaridad, perseverancia, sentido de pertenencia, respeto y responsabilidad con nuestros clientes y ejecutivos.
            </div>
            <div class="col-lg-6">
                <img src="assets/img/about-us/about-us-bussiness-values.jpg" class="img-fluid" alt="" />
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->