<!-- ======= About Us Section ======= -->
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Tips</h2>
      <ol>
        <li routerLinkActive="active"><a routerLink="dashboard">Home</a></li>
        <li>Tips y testimonios</li>
      </ol>
    </div>
  </div>
</section>
<!-- End About Us Section -->

<!-- ======= About Section ======= -->
<section class="about" data-aos="fade-up">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="assets/img/about.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <h3>
          Tips y curiosidades
        </h3>
        <p class="font-italic">
          Nuestros esfuerzos están orientados a capacitar líderes y, para cumplir con nuestro objetivo, nos enfocamos en
          el reclutamiento, selección y capacitación de Directivos profesionales en el área de ventas de Seguros de Vida
          y Planes de Jubilación en dólares estadounidenses.
        </p>
        <ul>
          <li>
            <i class="icofont-check-circled"></i>Trabajamos constantemente para inspirar, capacitar, preparar y acompañar
            a otros en su crecimiento profesional dentro del mundo de la venta de Seguros de Vida.
          </li>
          <li>
            <i class="icofont-check-circled"></i>Nos enfocamos en el reclutamiento, selección y capacitación de
            Directivos profesionales en el área de ventas de Seguros de Vida y Planes de Jubilación en dólares
            estadounidenses.
          </li>
          <li>
            <i class="icofont-check-circled"></i> Creemos firmemente que los productos de Seguros de Vida que ofrecemos
            son una herramienta indispensable para la protección y seguridad de nuestros Clientes y sus familias.
          </li>
        </ul>
        <p>
          El compromiso con ustedes, nos obliga a estar en constante renovación y capacitación de nuestro equipo,
          motivándolos a ser más eficaces y eficientes, brindándoles la oportunidad de participar en convenciones a
          nivel nacional e internacional, adquiriendo premios por su producción anual, desde viajes a otros países,
          cruceros, entre otros.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

<!-- ======= Tetstimonials Section ======= -->
<section class="testimonials" data-aos="fade-up">
  <div class="container">
    <div class="section-title">
      <h2>Testimonios</h2>
      <p>
        Cada mes recopilamos los testimonios de nuestros Ejecutivos de Ventas, sus vivencias, sus relatos y 
        en esta seccion damos un pequeño relato de sus experiencias.
      </p>
    </div>

    <div class="carousel testimonials-carousel">
      <div class="testimonial-item">
        <img
          src="assets/img/testimonials/testimonials-1.jpg"
          class="testimonial-img"
          alt=""
        />
        <h3>Luis Fernandez</h3>
        <h4>Ejecutivo &amp; Founder</h4>
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          Proin iaculis purus consequat sem cure digni ssim donec porttitora
          entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam
          eget nibh et. Maecen aliquam, risus at semper.
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
      </div>

      <div class="testimonial-item">
        <img
          src="assets/img/testimonials/testimonials-2.jpg"
          class="testimonial-img"
          alt=""
        />
        <h3>Guillermo Guevara</h3>
        <h4>Ejecutivo &amp; Junior</h4>
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          Export tempor illum tamen malis malis eram quae irure esse labore quem
          cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua
          noster fugiat irure amet legam anim culpa.
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
      </div>

      
    </div>
  </div>
</section>
<!-- End Ttstimonials Section -->
