<!-- ======= Our Portfolio Section ======= -->
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Home</h2>
            <ol>
                <li><a routerLink="dashboard">Home</a></li>
                <li>Home</li>
            </ol>
        </div>

    </div>
</section>
<!-- End Our Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section class="services">
        <div class="container">
  
          <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
              <div class="icon-box icon-box-pink">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="icon-box icon-box-cyan">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box icon-box-green">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4 class="title"><a href="">Magni Dolores</a></h4>
                <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box icon-box-blue">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4 class="title"><a href="">Nemo Enim</a></h4>
                <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Services Section -->

<!-- ======= Service Details Section ======= -->
<section class="service-details">
    <div class="container">

        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                <div class="card">
                    <div class="card-img">
                        <img src="assets/img/dashboard/{{ _infoPageDashboard.image1 }}" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a routerLink="dashboard">{{ _infoPageDashboard.infoPageSection1["section_title_h5"]}}</a></h5>
                        <p class="card-text">{{ _infoPageDashboard.infoPageSection1["section_parrafo_h5"]}}</p>
                        <div class="read-more"><a (click)="abrirModal()"><i class="icofont-arrow-right"></i> Mas Informacion</a></div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                <div class="card">
                    <div class="card-img">
                        <img src="assets/img/dashboard/{{ _infoPageDashboard.image2 }}" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a routerLink="dashboard">{{ _infoPageDashboard.infoPageSection2["section_title_h5"]}}</a></h5>
                        <p class="card-text">{{ _infoPageDashboard.infoPageSection2["section_parrafo_h5"]}}</p>
                        <div class="read-more"><a (click)="abrirModal()"><i class="icofont-arrow-right"></i> Mas Informacion</a></div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                <div class="card">
                    <div class="card-img">
                        <img src="assets/img/dashboard/{{ _infoPageDashboard.image3 }}" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a routerLink="dashboard">{{ _infoPageDashboard.infoPageSection3["section_title_h5"]}}</a></h5>
                        <p class="card-text">{{ _infoPageDashboard.infoPageSection3["section_parrafo_h5"]}}</p>
                        <div class="read-more"><a (click)="abrirModal()"><i class="icofont-arrow-right"></i> Mas Informacion</a></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                <div class="card">
                    <div class="card-img">
                        <img src="assets/img/dashboard/{{ _infoPageDashboard.image4 }}" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a routerLink="dashboard">{{ _infoPageDashboard.infoPageSection4["section_title_h5"]}}</a></h5>
                        <p class="card-text">{{ _infoPageDashboard.infoPageSection4["section_parrafo_h5"]}}</p>
                        <div class="read-more"><a (click)="abrirModal()"><i class="icofont-arrow-right"></i> Mas Informacion</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Service Details Section -->