<!-- ======= Services Section ======= -->
  <section class="services">
    <div class="container">

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
          <div class="icon-box icon-box-pink">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">Pensiones y Jubilaciones</a></h4>
            <p class="description">Los productos que ofrecemos se centran no solo en la protección del seguro de vida,
              sino también en los ingresos de jubilación, lo que brinda una protección contra la devaluación de la
              moneda.
            </p>

          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Oportunidades de Carrera</a></h4>
            <p class="description">Adicionalmente podemos brindar desarrollarte en una carrera profesional con nosotros,
              con un potencial de ingresos ilimitado. Gracias a nuestro sistema de autopromoción podrás definir tu plan de carrera y ascender a
              niveles importantes en base a tu esfuerzo y resultados, desarrollando una estructura de ventas, tu propio
              negocio.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box icon-box-green">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
             <h4 class="title"><a href="">Inversiones</a></h4>
             <p class="description">Las pólizas incluyen una característica única de inversión de dividendos y altos
               valores en efectivo garantizados, que abordan las preocupaciones que las personas pueden tener sobre sus
               ingresos de jubilación y transferencia de capital.</p>
             </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class class="icon-box icon-box-blue">
            <div class="icon"><i class="bx bx-world"></i></div>
             <h4 class="title"><a href="">Seguros de Vida</a></h4>
             <p class="description">Contamos con el mejor portafolio de productos de Seguros de Vida, estas pólizas de
               vida entera y de dotación están enfocadas en abordar las preocupaciones financieras fundamentales de las personas,
               incluidos los ingresos por jubilación, la muerte prematura, la devaluación de la moneda y la inflación.
             </p>
             </div>
          </div>
        </div>

      

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Why Us Section ======= -->
  <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 video-box">
          <img src="assets/img/why-us.jpg" class="img-fluid" alt="">
          <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
            data-autoplay="true"></a> -->
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

          <div class="icon-box">
            <div class="icon"><i class="bx bx-fingerprint"></i></div>
            <h4 class="title"><a href="">Oportunidades de Carrera</a></h4>
            <p class="description">Estamos comprometidos con tu crecimiento. Nuestros esfuerzos están enfocados en
              brindarle todo el apoyo que necesita para desarrollar con éxito su carrera.</p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="bx bx-money"></i></div>
            <h4 class="title"><a href="">Ingresos y Comisiones</a></h4>
            <p class="description">Puede desarrollar una carrera profesional con nosotros, con un potencial de ingresos
              ilimitado.</p>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Features Section ======= -->
  <section class="features">
    <div class="container">

      <div class="section-title">
        <h2>Que nos caracteriza</h2>
        <p>Contamos con un equipo de trabajo altamente capacitado, conformado por profesionales de primera línea,
          gerentes y asociados de ventas, competentes, dispuestos a escucharte y brindarte la asesoría y los planes de
          seguros de vida adecuados a tus necesidades, en dólares. Nuestra agencia se diferencia de muchas otras, porque
          nosotros te procuramos un mundo de posibilidades, para garantizar tu seguridad y la de los tuyos. .</p>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-md-5">
          <img src="assets/img/features-1.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-4">
          <h3>Trabajo en equipo, colaboracion, honestidad.</h3>
          <p class="font-italic">
            Nuestros valores vienen dados principalmente por la ética, honestidad, excelencia en la
            atención, responsabilidad, puntualidad, colaboración, trabajo en equipo, perseverancia, liderazgo,
            transparencia y sobre todo pasión en lo que hacemos y la mejor disposición a su alcance.</p>
          
          <ul>
            <li><i class="icofont-check"></i> Trabajo en equipo, colaboracion, sobre todo pasion por lo que hacemos.</li>
            <li><i class="icofont-check"></i> Responsabilidad, puntualidad, atencion de primera linea.</li>
          </ul>
        </div>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-md-5 order-1 order-md-2">
          <img src="assets/img/features-2.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
          <h3>Garantizamos su inversion.</h3>
          <p class="font-italic">
            Ingresos garantizados de por vida, defensa contra la inflación y la devaluación de su moneda local.
            Pólizas participantes con características de inversión extraordinarias. Usted mismo puede recibir los
            beneficios de su seguro de vida. 
          </p>
          <p>
            Pólizas participantes con características de inversión extraordinarias. Usted mismo puede recibir los
            beneficios de su seguro de vida, garantia de ingresos para los seres queridos en caso de fallecimiento del
            asegurado.
          </p>
        </div>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-md-5">
          <img src="assets/img/features-3.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5">
          <h3>Beneficios de nuestros portafolio de productos</h3>
          <p>Construcción de capital en moneda estable mediante el depósito de una prima anual.</p>
          <ul>
            <li><i class="icofont-check"></i> Planes diseñados para acumulación de Valores Garantizados, respaldados por
              Seguro de Vida.</li>
            <li><i class="icofont-check"></i> Opciones de jubilación con ingresos de por vida en dólares.</li>
            <li><i class="icofont-check"></i> Protección de por vida.</li>
            <li><i class="icofont-check"></i> Tarifas habitualmente inferiores a las que ofrecen las empresas.</li>
          </ul>
        </div>
      </div>

      <!-- <div class="row" data-aos="fade-up">
        <div class="col-md-5 order-1 order-md-2">
          <img src="assets/img/features-4.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
          <h3>Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in</h3>
          <p class="font-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua.
          </p>
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum
          </p>
        </div>
      </div> -->

    </div>
  </section><!-- End Features Section -->


